<!DOCTYPE html>
<html>
    <body>
        {% load static %}
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        {% load material_form %}
        
        <div style="width:80%; margin-left: 10%; margin-top: 10%">
            <h4>Office of {{username}}</h4>
            <h2>Patient Check In</h2>
            {% if message != '' %}
                <p style="color:red">{{message}}</p>
            {% endif %}
            <form action="{% url 'check_in' %}" method="post" class="viewform">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <input type="submit" value="Check In" />
            </form>
        </div>
    </body>
  </html>